* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #9a5acf;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Noto Sans', sans-serif;
    min-height: 100vh;
}

.container {
    background: #eee;
    border-radius: 10px;
    line-height: 1.5;
    margin: 50px 100px;
    padding: 1.5rem;
    width: 500px;
}

.search {
    display: flex;
    gap: 1rem;
    justify-content: center;
    margin-bottom: 1rem;
}

#input {
    background-color: #eee;
    border: none;
    border-bottom: 2px solid #9a5acf;
    color: #333;
    font-size: 1.1rem;
    outline: none;
    padding: .2rem .3rem;
}

.input-text::placeholder {
    visibility: hidden;
}

#search-btn {
    background-color: #d57fdb;
    border: none;
    border-radius: 15.5px;
    cursor: pointer;
    color: #fff;
    padding: .5rem 1rem;
}

#search-btn:hover {
    background-color: #9a5acf;
}

#search-btn:active {
    background-color: #7116cc;
}

.word {
    color: #444;
    font-size: 2rem;
    margin-left: .5rem;
    text-transform: capitalize;
}

.word-flex {
    color: #888;
    display: flex;
    gap: .7rem;
    margin-left: .5rem;
}

.italic {
    font-style: italic;
}

.means {
    margin: .4rem 0;
}

.result {
    opacity: 1;
}

.result.fade {
    opacity: 0;
    transition: opacity 1s;
}

.exp {
    border-left: 3px solid #7116cc;
    padding-left: .7rem;
}

.error {
    text-align: center;
}